<style>
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
  } 
  </style>  
    
<div class=center>
    <h1 style="text-align:center">Blog Site</h1>
    <div id="question1">
        <div style="display:inline;" >Q{{qa1.id}}.</div>
        <div style="display:inline;">{{qa1.question}}</div>
    </div>
    <div id="answer1">
        <div style="display:inline;">A:</div>
        <div style="display:inline;">{{qa1.answer}}</div>
    </div>

    <div id="question2">
        <div style="display:inline;">Q{{qa2.id}}.</div>
        <div style="display:inline;">{{qa2.question}}</div>
    </div>
    <div id="answer2">
        <div style="display:inline;">A:</div>
        <div style="display:inline;">{{qa2.answer}}</div>
    </div>
    <div id="question3">
        <div style="display:inline;">Q{{qa3.id}}.</div>
        <div style="display:inline;">{{qa3.question}}</div>
    </div>
    <div id="answer3">
        <div style="display:inline;">A:</div>
        <div style="display:inline;">{{qa3.answer}}</div>
    </div>
    <div id="question4">
        <div style="display:inline;">Q{{qa4.id}}.</div>
        <div style="display:inline;">{{qa4.question}}</div>
    </div>
    <div id="answer4">
        <div style="display:inline;">A:</div>
        <div style="display:inline;">{{qa4.answer}}</div>
    </div>
    <div id="question5">
        <div style="display:inline;">Q{{qa5.id}}.</div>
        <div style="display:inline;">{{qa5.question}}</div>
    </div>
    <div id="answer5">
        <div style="display:inline;">A:</div>
        <div style="display:inline;">{{qa5.answer}}</div>
    </div>
    
</div>