#question1{
    background-color: cadetblue;
}
#answer1{
    background-color: pink;
}
#question2{
    background-color: cadetblue;
}
#answer2{
    background-color: pink;
}
#question3{
    background-color: cadetblue;
}
#answer3{
    background-color: pink;
}
#question4{
    background-color: cadetblue;
}
#answer4{
    background-color: pink;
}
#question5{
    background-color: cadetblue;
}
#answer5{
    background-color: pink;
}

